@import '../../bootbox/font-awesome-less/font-awesome.less';
@import '../../bootbox/bootstrap-less/bootstrap.less';
@import '../../bootbox/bootstrap-less/theme.less';
@import '../../bootbox/less/bootbox.less';

//@body-bg: #f4f4f4;

html,body{
	height: 100%;
}
.wrapper{
	.flexbox();
	.flex-direction(column);
	height: 100%;
}

.header{
	.navbar{margin-bottom: 0;}
	height: 50px;
	.order(1);

}

.main{
	.flex(1);
  	.order(2);

	.flexbox();
	.flex-direction(row);
	//height: 100%;

	//background: #000;
}




.side-nav{
	width: 200px;
	//.flex(1);
  	.order(1);
	background: @gray-lighter;
	//height: 100%;
	padding: 15px;
}

.content-box{

	.flex(1);
  	.order(2);

	

	//height: 100%;
	//background: @white-color;

	padding: 15px;
	

	


}

.content-box-list{
	.flexbox();
	.flex-direction(row);
    .flex-wrap(wrap);
    //.justify-content(space-between);
    .align-items(flex-start);

    .content-box-item{
		//width: 320px;
		height: 300px;
		margin-bottom: 15px;
		margin-right: 15px;
		background: @gary-color;
	}

}

.content-box-item{
	//border:1px solid @solid-color;
	background: @white-color;
	.box-shadow(0 0 20px rgba(0, 0, 0, 0.2));
	.border-radius(5px);
	//img{.img-responsive();}
	img{display: block; height: 300px; .border-radius(5px);}
}

