@import '../../bootbox/font-awesome-less/font-awesome.less';
@import '../../bootbox/bootstrap-less/bootstrap.less';
//@import '../../bootbox/bootstrap-less/theme.less';
@import '../../bootbox/less/bootbox.less';

//@body-bg: #f4f4f4;

html,body{
	height: 100%;
}
.wrapper{
	.flexbox();
	.flex-direction(column);
	height: 100%;
}

.header{
	.navbar{margin-bottom: 0; z-index: 99;}
	height: 50px;
	.order(1);

}

.main{
	.flex(1);
  	.order(2);

	.flexbox();
	.flex-direction(row);
	//height: 100%;

	//background: #000;
}




.side-nav{
	width: 200px;
	//.flex(1);
  	.order(1);
	background: @gray-lighter;
	//height: 100%;
	padding: 15px;
	//display: none;

}

.content-box{

	.flex(1);
  	.order(2);

	

	//height: 100%;
	//background: @white-color;

	padding: 15px;
	

	


}

.content-box-list{
	
	//box显示方式
	&.display-box{
		.flexbox();
		.flex-direction(row);
	    .flex-wrap(wrap);
	    .justify-content(space-between);
	    .align-items(flex-start);

	    .content-box-item{
			height: 18rem;
			width: 32rem;
			
			//.flex(1 1 0);
			//width: 320px;
			overflow: hidden;
			//max-height: 300px;
			//width: 100%;
			//.justify-content(stretch);
			//.align-self(stretch);
			//margin: auto;
			//margin-right: 15px;
			margin-bottom: 15px;
			background: @gary-color;
			



			// img{
				
			// 	margin: auto;
			// 	display: block;
			// 	height: 100%;
			// 	max-width: 100%;
				

			// }
			img{.img-responsive();.transition(all 0.2s ease-out 0.1s);
				
			}
			a{
				display: block;	
				.brimming();
				
				

				&:hover{
					img{
						
					}
				}
				
			}

			

			
		}
	}

	//瀑布流显示方式
	&.display-waterfall{
		//overflow: hidden;
		.content-columns(3;1rem);
		.content-box-item{
			//max-width: 320px;
			margin-bottom: 15px;
			img{.img-responsive(); margin: auto;}
		}
		
	}

}

.content-box-item{
	//border:1px solid @solid-color;
	background: @white-color;
	.box-shadow(0 0 20px rgba(0, 0, 0, 0.2));
	.border-radius(5px);
	//img{.img-responsive();}
	img{display: block;  .border-radius(5px);}
}

