@import '../../bootbox/font-awesome-less/font-awesome.less';
@import '../../bootbox/bootstrap-less/bootstrap.less';
//@import '../../bootbox/bootstrap-less/theme.less';
@import (reference) '../../bootbox/less/bootbox.less';

//@body-bg: #f4f4f4;
@base-font-size: 62.5%;

html,body{
	height: 100%;
}
.wrapper{
	.flexbox();
	.flex-direction(column);
	height: 100%;
}

.header{
	height: 50px;

	.navbar{
		margin-bottom: 0; z-index: 99;
	}
	

	.order(1);

}

.main{
	.flex(1);
  	.order(2);

	.flexbox();
	.flex-direction(row);
	//height: 100%;

	//background: #000;
}




.side-nav{
	width: 200px;
	//.flex(1);
  	.order(1);
	background: @gray-lighter;
	//height: 100%;
	padding: 15px;
	display: none;

}

.content-box{

	.flex(1);
  	.order(2);

	

	//height: 100%;
	//background: @white-color;
	background: @gary-color;
	padding: 15px;
	

	


}

.content-box-list{
	
	//box显示方式
	&.display-box{
		
		.flexbox();
		.flex(1);
		.flex-direction(row);
	    .flex-wrap(wrap);
	    .justify-content(space-between);
	    .align-items(flex-start);
	    

	    .content-box-item{
			//height: 18rem;
			//width: 32rem;
			
			//.flex(1 1 0);
			//width: 320px;
			overflow: hidden;
			//max-height: 300px;
			//width: 100%;
			//.justify-content(stretch);
			//.align-self(stretch);
			//margin: auto;
			//margin-right: 15px;
			margin-bottom: 15px;
			background: @white-color;
			



			img{
				
				margin: auto;
				display: block;
				height: 18rem;
				max-width: 100%;
				

			}
			
			a{
				display: block;	
				.brimming();
				overflow: hidden;
				text-decoration: none;
				position: relative;
				z-index: 1;
				

				&:hover{
					// .item-title{
					// 	color: @brand-primary;
					// }
					.item-content{
						bottom:0;
					}
					.item-mask{
						.background-rgba(0,0,0,0.3);
					}
				}
			}
			

			.item-content{
				padding: 10px 15px;
				position:absolute;
				z-index: 1;
				
				//top:100%;
				left: 0;
				right: 0;
				bottom:-100%;
				background: @white-color;
				//.background-rgba(255,255,255,0.9);
				.transition(all 0.2s ease-out 0.1s);
			}
			.item-title{
				margin: 0;
				color: @text-color;
				font-weight: bold;
				.font-size-rems(14);
				.ws_hide();
				.transition(all 0.2s ease-out 0.1s);
			}
			.item-desc{
				margin: 10px 0 0;
				color: @normal-color;
				display: block;
				.ws_hide();
				.font-size-rems(12);
			}

			.item-mask{
				.flexbox();	
				left: 0;
				right: 0;
				top:0;
				bottom: 0;
				position:absolute;
				z-index: 1;
				text-shadow:0 0 10px rgba(0, 0, 0, 0.5);
				.transition(all 0.2s ease-out 0.1s);

				.fa{.font-size-rems(45);  color: @white-color; margin: auto;}
			}
			

			
		}
	}

	//瀑布流显示方式
	&.display-waterfall{
		//overflow: hidden;
		.content-columns(3;1rem);
		.content-box-item{
			//max-width: 320px;
			margin-bottom: 15px;
			img{.img-responsive(); margin: auto;}
		}
		
	}

}

.content-box-item{
	//border:1px solid @solid-color;
	background: @white-color;
	.box-shadow(0 0 20px rgba(0, 0, 0, 0.2));
	.border-radius(3px);
	//img{.img-responsive();}
	img{display: block;  .border-radius(3px);}
}

