<div class="content-box-list effect-4">
  <div class="content-box-item" ng-repeat="imgitem in img.items">

      <a ng-if="imgitem.type == 'picture'" href="{{imgitem.images.full}}" title="{{imgitem.title}}" target="_blank">
        <img class="item-img" ng-src="{{imgitem.images.middle}}" alt="{{imgitem.title}}">
          <div class="item-content">
            <h2 class="item-title">
              <i class="fa fa-picture-o"></i>
              <!-- <i ng-if="imgitem.type == 'picture'" class="fa fa-picture-o"></i>
              <i ng-if="imgitem.type == 'video'" class="fa fa-play-circle-o"></i> -->
              {{imgitem.title}}
            </h2>
            <p class="item-desc">{{imgitem.desc}}</p>
          </div>
      </a>

      <a ng-if="imgitem.type == 'video'" href="{{imgitem.externalLink}}" title="{{imgitem.title}}" target="_blank">
          <img class="item-img" ng-src="{{imgitem.images.middle}}" alt="{{imgitem.title}}">
          <div class="item-mask"><i class="fa fa-play-circle-o"></i></div>
          <div class="item-content">
          	<h2 class="item-title">
              <i class="fa fa-video-camera"></i>
              {{imgitem.title}}
            </h2>
          	<p class="item-desc">{{imgitem.desc}}</p>
          </div>
      </a>

  </div>
</div>

