
	<ul class="side-menu" role="tablist">
	  <li class="side-menu-header"><i class="fa fa-picture-o"></i> 图像比例</li>
	  <li ng-class='{active : is16x9}' ><a href="javascript:void(0);" role="menuitem" tabindex="-1" ng-click="setScale('16x9')"> 16:9</a></li>
      <li ng-class='{active : is4x3}'><a href="javascript:void(0);" role="menuitem" tabindex="-1"  ng-click="setScale('4x3')">4:3</a></li>
      <li ng-class='{active : is2x3}'><a href="javascript:void(0);" role="menuitem" tabindex="-1"  ng-click="setScale('2x3')">2:3</a></li>
      <li ng-class='{active : is1x1}'><a href="javascript:void(0);" role="menuitem" tabindex="-1"  ng-click="setScale('1x1')">1:1</a></li>
      <li role="presentation" class="divider"></li>
      <li class="side-menu-header"><i class="fa fa-picture-o"></i> 图像位置</li>
      <li ng-class='{active : isCover}'><a href="javascript:void(0);" role="menuitem" tabindex="-1" ng-click="setPosition('cover')">填充</a></li>
      <li ng-class='{active : isContain}'><a href="javascript:void(0);" role="menuitem" tabindex="-1" ng-click="setPosition('contain')">适应</a></li>
	</ul>
	

<!-- /.right-nav -->